<h2>rails passwordless login template</h2>

<% if current_user.present? %>

  <p>signed in as <%= current_user.email %></p>
  <%= link_to "members only content", members_only_path %>
  <%= link_to "sign out", users.sign_out_path %>

<% else %>

  <%= link_to "sign in", users.sign_in_path %>
  <%= link_to "sign up", new_user_path %>

<% end %>
