<h2>sign in form</h2>
<%= form_for @session, url: send(Passwordless.mounted_as).sign_in_path, data: { turbo: false } do |f| %>
  <% email_field_name = :"passwordless[#{@email_field}]" %>
  <label>Email</label>
  <%= text_field_tag email_field_name, params.fetch(email_field_name, nil), class: "border border-black" %>
  <%= f.submit I18n.t('passwordless.sessions.new.submit') %>
<% end %>
